* {
  box-sizing: border-box;
  font-family: Open Sans;
  margin: 0;
}

/* General */

body {
  /*background-image: url(assets/fotofinder-comp.png);
  background-repeat: no-repeat;
  background-size: 100%; */
  color: #C2B2B4;
  background-color: #3E2A35;
}

input,
textarea,
#search-input::placeholder {
  padding-left: 10px;
  color: #C2B2B4;
  font-size: 1rem;
}

textarea {
  padding-top: 10px;
}

.no-focus:focus {
  outline: none;
}

/* Header Starts Here */

header {
  padding: 2.5rem 3.5rem 2.5rem 3.5rem;
  display: flex;
  justify-content: space-between;
}

#logo,
.search-bar {
  display: flex;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #fff;
}

.logo-icon {
  height: 2.5rem;
  padding: 0 .5rem 0 .5rem;
}

#search-icon {
  height: 10px;
}

#search-input {
  height: 50px;
  width: 360px;
  border-radius: 5px 0 0 5px;
  border: solid #C2B2B4 2px;
}

#search-btn {
  height: 50px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: #C2B2B4;
  border: none;
}

/* Form Starts Here */

.form-container {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0 1.25rem 0;
}

form {
  display: flex;
  flex-direction: column;
  /*width: 48%;*/
  width: 700px;
}

.form-input,
.form-btns {
  height: 60px;
  border-radius: 2px;
  border: none;
}

.form-input {
  margin-bottom: 1.25rem;
}

.form-label,
.form-btns {
  font-size: 1.2rem;
}

.form-label {
  padding: 0 0 .75rem .5rem;
}

.form-btns {
  background-color: #5B4447;
  color: #fff;
  margin: 2rem 0 1.25rem 0;
}

.form-btns:hover {
  background-color: #938284;
}

.input-file + label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.spaced-btns {
  width: 43%;
}

/* Photo Gallery Starts Here */

.photo-gallery {
  padding: 3rem 5rem 3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #C2B2B4;
}

.card {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  width: 320px;
  height: 400px;
  display: grid;
  grid-template-rows: 50px 190px 110px 50px;
}

h2, 
.caption-output {
  padding-left: 1rem;
  background-color: #fff;
  color: #5B4447;
}

h2 {
  display: flex;
  align-items: center;
}

.caption-output {
  padding-top: 1rem;
  font-weight: bold;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-icons {
  background-color: #5B4447;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

.card-icons img {
  height: 20px; 
  width: 20px;
}

.card-icon {
  height: 10px;
  width: 10px;
}


/* Media Queries Start Here */

@media only screen and (max-width:1000px) {
  header {
    padding: 2.5rem 0 2.5rem 0;
    flex-direction: column;
    justify-content: center;
  }

  #logo,
  .search-bar {
    display: flex;
    justify-content: center;
  }

  #logo {
    padding-bottom: 1rem;
  }
  #search-input {
    width: 400px;
  }

  .form-input {
    width: 450px;
  }
}

@media only screen and (max-width:1000px) {
  header {
    padding: 2.5rem 0 2.5rem 0;
    flex-direction: column;
    justify-content: center;
  }

  #logo,
  .search-bar {
    display: flex;
    justify-content: center;
  }

  #logo {
    padding-bottom: 1rem;
  }
  #search-input {
    width: 400px;
  }

  .form-input {
    width: 450px;
  }
}

